
<div class="container" >
  <div class="input-field col s3" >
    <input placeholder="Search..." id="first_name2" type="text" class="validate" [(ngModel)]="searchPlanet">
    <label class="active" for="first_name2"></label>
    <div class="row">

      <div class="col s3" *ngFor="let planet of planets | async |
      paginate: { itemsPerPage: itemsPer, currentPage: p } | search: searchPlanet" > {{planet.name}}
        <div class="card" appHover>
          <div class="card-image">
            <img src="{{planet.url_img}}">
            <span class="card-title" >{{planet.name_planet | uppercase }}</span>
          </div>
          <div class="card-content">
            <button class="btn waves-effect waves-light" type="submit" name="action" (click)="planetDetails(planet.id)" >Details<i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <a class="btn" (click)="sort5()">5</a>
  <a class="btn" (click)="sort10()">10</a>
  <a class="btn" (click)="sort25()">25</a>
  <a class="btn" (click)="sort100()">100</a>
  <pagination-controls  (pageChange)="p = $event"></pagination-controls>
</div>
