
  <div class="card-panel hoverable">
    <h4>{{planet.name_planet | uppercase}}</h4>
  </div>

  <button (click)="list()" class="btn btn-primary">Back to Planet List</button><br>

  <hr/>
  <table *ngIf="planet"  class="card-panel hoverable">
    <thead>
    <tr>
      <th>Planet Name</th>
      <th>Planet type</th>
      <th>Distance from sun</th>
      <th>One Way Light Time To the sun</th>
      <th>Length_of_Year</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>{{ planet.name_planet }}</td>
      <td>{{ planet.planet_type }}</td>
      <td>{{ planet.distance }} km</td>
      <td>{{ planet.one_Way_Light_Time }} mins</td>
      <td>{{ planet.length_of_Year }} earth days</td>
    </tr>
    </tbody>
  </table>
  <div class="container" class="card-panel hoverable" >
    <p>{{ planet.descr }}</p>
    <img src="{{ planet.url_img }}" minlength="300" maxlength="700" >
  </div>

