<body>
<div class="container">
  <div class="card-panel hoverable">
    <h4>{{planet.name_planet | uppercase}}</h4>
  </div>

  <button (click)="list()" class="btn btn-primary">Back to Planet List</button><br>

  <hr/>
  <table *ngIf="planet" >
    <thead>
    <tr>
      <th>Planet Name</th>
      <th>Planet type</th>
      <th>Distance</th>
      <th>One Way Light Time</th>
      <th>Length_of_Year</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>{{planet.name_planet}}</td>
      <td>{{planet.planet_type}}</td>
      <td>{{planet.distance}}</td>
      <td>{{planet.One_Way_Light_Time}}</td>
      <td>{{planet.Length_of_Year}}</td>
    </tr>
    </tbody>
  </table>
  <div class="card-panel hoverable">
    <img class="responsive-img" src="{{planet.url_img}}" >
  </div>
  {{ planet.descr}}
</div>

<!--</div>-->

</body>
